*{
  margin: 0;
  padding: 0;
}
header{
  background: pink;
  color: #eee;
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin-bottom: 20px;
}
main{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
h2{
  margin-bottom: 20px;
}
section{
  border: 3px solid pink;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 20px;
}
.link{
  display: flex;
  justify-content: space-around;
  margin:20px 0;

}